@model IEnumerable<BOL.tbl_url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>URLs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlDesc)
        </td>
       </tr>
}

</table>
